.paginationBtns {
    width: 70%;
    height: 35px;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.paginationBtns a {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: white;
    cursor: pointer;
}

.paginationBtns a:hover {
    color:  white;
    background-color: lightslategray;
}

.paginationActive a {
    color: white;
    background-color: lightslategray;
}